#subscribe-container {
  width: 110vw;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 220px;
  border: 5px solid black;
  background-color: #e71212;
  color: white;
  font-size: 20px;
  padding: 22px 24px;
  text-align: center;
  transition: transform 0.2s; /* Added a CSS transition for smooth enlargement */
}

button:hover {
  transform: scale(1.2); /* Enlarges the button by 20% on hover */
}